<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.api.apiinterface.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="cn.api.apiinterface.model.entity.OrderEntity">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="interfaceId" column="interfaceId" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, userId, interfaceId, status, createTime, updateTime, isDelete
    </sql>

    <insert id="createOrder">
        INSERT INTO interface_order
            (userId,interfaceId,status,createTime,updateTime,isDelete)
            VALUE
            (#{userId},#{interfaceId},0,NOW(),NOW(),0);
    </insert>

</mapper>
